importFrom(graphics, lines, plot, points, text)
importFrom(stats, update)
importFrom(utils, read.delim, read.table)
importFrom(sp, bbox, coordinates, CRS, Line, Lines, Polygon, Polygons, SpatialLines,SpatialLinesDataFrame,SpatialPolygons, SpatialPolygonsDataFrame)
importFrom(gstat,variogram)
importFrom(rgdal,readOGR)

export(bbox2SP, drawgrid, gps2gpx, label2bib, matL, matL.par, plot.variogenv, pseudoR2, readBaseCamp, readEtrex, SpatialLinesDataFrameS, SpatialPolygonsDataFrameS, s2e, thintrack2,uploadEtrex, variogenv) 

S3method(plot, variogenv)





